[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.1"
flask-cors = "==3.0.10"
pymongo = "*"
flask-login = "*"
passlib = "*"
rsa = "*"
flask-jwt-extended = "*"
numpy = "*"
requests = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
